
<!-- main app container -->
<div class="jumbotron" *ngIf="!isListShown">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>Post Blog</h2>
                  <form #addPostForm="ngForm" (ngSubmit)="addForm(addPostForm); addPostForm.reset();">
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input 
                              type="text" 
                              class="form-control" 
                              placeholder="Title" 
                              ngModel 
                              name="name" 
                              #name="ngModel" required>
                          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                              <div>Title is required</div>
                          </div>
                    </div>
                    <div class="form-group">
                            <label for="image">Image</label>
                            <input 
                                  type="file" 
                                  class="form-control" 
                                  placeholder="Image" 
                                  ngModel 
                                  name="image" 
                                  #image="ngModel">
                              
                        </div>
                    <div class="form-group">
                          <label for="Content">Content</label>
                          <textarea
                                 class="form-control" 
                                 placeholder="Content" 
                                 ngModel 
                                 name="Content" 
                                 #Content="ngModel"
                                 
                                 required>
                              <div class="alert alert-danger" *ngIf="Content.touched && Content.errors?.required">
                                  <div>Content is required</div>
                              </div>
                              <div class="alert alert-danger" *ngIf="Content.touched && Content.errors?.pattern">
                                  <div>Content is invalid</div>
                              </div>
                              </textarea>

                      </div>

                    <div class="form-group">
                          <button class="btn btn-success" 
                              [disabled]="addPostForm.invalid">
                                  <span *ngIf="!isLoading"> Post </span>
                                  <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin "></i>Processing</span>
                          </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    
     
</div>

<span *ngIf="isListShown" >
<div class = "clearafter blogs" style="max-width: 50%;background-color: blanchedalmond;" *ngFor="let listBlog of listBlog">
        <span style="float:left"><img style="    border-radius: 50%;" src='/assets/download.jpeg'></span>
        <h3 style="display: inline-block;margin: 0 auto;text-align: center;padding-left: 21px;">{{listBlog.name}}</h3>
        <p style="display: flex;flex-wrap: wrap;padding-left: 20px;">
                {{listBlog.Content}}
        </p>

</div>
</span>

  